[Desktop Entry]
Name=Color Project Startup
Exec=/home/administrator/ColorProject/startup.sh
Icon=terminal
Terminal=false
Type=application
StartupNotify=true