[Desktop Entry]
Name=Color Project Startup
Name[en_US]=Color Project Startup
Comment=
Exec=/home/administrator/ColorProject/startup.sh
Icon=terminal
Terminal=false
Type=Application
StartupNotify=true